main {
    padding-top: 1rem;
}

#current-rate {
    font-size: 32px;
    font-style: italic;
}

#current-rate-card {
    padding: 10px 2rem;
}

#rate-change-col {
    margin-left: 2rem;
}

.hidden {
    display: none;
}