<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="headerfiles">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-light bg-light">
    <a class="navbar-brand" th:href="${navbarHref}" href="#">
        <img height="30" width="30" alt="" th:src="@{/images/btc.png}"/>
        BTC Ticker
    </a>
</nav>
<footer th:fragment="footer">
<script type="text/javascript" th:src="@{webjars/jquery/3.3.1-2/jquery.slim.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>