<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles">
        </th:block> /*/-->

    <title>BTC Ticker</title>
</head>
<body>
<nav th:replace="general.html :: navbar"></nav>

<main role="main" class="container">
    <div class="row">
        <div id="current-rate-card" class="card mx-auto">
            <div class="card-body">
                <div class="row">
                    <div id="current-rate-col" class="column">
                        <span id="current-rate" th:text="${currentTicker.getRate()}">Current ticker value</span>
                        CZK/BTC
                    </div>
                    <div id="rate-change-col" class="column">
                        <img id="rate-up-img" th:class="${T(java.math.BigDecimal).ZERO.compareTo(change) < 0} ? '' : 'hidden'"
                             th:src="@{/images/trending-up.svg}"/>
                        <img id="rate-down-img" th:class="${T(java.math.BigDecimal).ZERO.compareTo(change) > 0} ? '' : 'hidden'"
                             th:src="@{/images/trending-down.svg}"/>
                        <div th:class="${T(java.math.BigDecimal).ZERO.compareTo(change) == 0} ? 'hidden' : ''"
                                id="rate-change-text">
                            <span id="rate-change-value" th:text="${T(java.math.BigDecimal).ZERO.compareTo(change) < 0 ? '+' + change: change}"></span>
                            CZK/BTC
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <canvas id="rate-chart" height="200"></canvas>
</main>

<div th:replace="general.html :: footer"></div>
<script type="text/javascript" th:src="@{webjars/momentjs/2.24.0/min/moment.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/chartjs/2.7.3/Chart.min.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  var ctx = $('#rate-chart');
  var currentRate = /*[[${currentTicker.getRate()}]]*/;
  var rateChart = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [{
        label: 'CZK/BTC',
        lineTension: 0,
        backgroundColor: '#F79862',
        borderColor: '#333333',
        data: /*[(${tickerChartData})]*/
      }]
    },
    options: {
      scales: {
        xAxes: [{
          type: 'time'
        }]
      }
    }
  });
  /*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>
</html>